{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <h1>My Work Experience</h1>

    <div class="work-container">
        <div class="container_with_background">
            <h2>SIGA</h2>
            <div class="row">September 2022 -> Present</div>
            <p>At SIGA i first started working as a Trainee. As a Trainee i contributed in 3 different Teams
                In each of those teams i was for at least 6 Months,...
            </p>
            <p> After finishing my Traineestage, I decided to continued working in the Team DSC, where i am until today.
            </p>
            <p><a href="https://www.siga.swiss/ch_de" target="_blank">SIGA</a> is a medium sized international Company,
                that sells "building envelop sealing". I.e. the tape and membranes used to keep the heat (or cold)
                inside your house.
                SIGA operates following the principels of <a  href="https://en.wikipedia.org/wiki/Toyota_Production_System" target="_blank">Toyota Production System</a>.
                In practice this means that each day everyone writes down ideas how we could improve the processes. And
                then (after working for 9 days normally) we have a day, where we make this ideas a reality.</p>

            <p>Even so the company is mainly focused on production as well as selling the products, it has quite a large
                Digitalisation part, consisting of multple departments.</p>
            <div class="container_with_background">
                <h2>SIGA Trainee</h2>
                <div class="row">September 2022 -> August 2024</div>
                Before even starting with the first stage, i joined different Teams for 1 to 3 days, so i could learn
                about their fields, how they work and last but not least, to get to know my future
                coworkes/stakeholders.
                The idea behind this is not only, that i get to know the processes better (a imortant thing if you want
                to digitalise processes), but also so i would now with whom to talk, if i encounter a problem that
                involves this deparetment.
                As part of this introduction, i also worked a couple days in production, something that helped me alot
                in my second stage as well as in my current work.

                <div class="container_with_background">
                    <h2> First Stage - IT-Infrastruktur</h2>
                    <p> In this stage i helped managing devices and account using the Active Directory as well as Azure
                        Active Directory. I </p>
                    <p> Server updates</p>
                    <h1> TODO</h1>
                    <p> I also spend a substantive mount of time working in first (and in some parts second) level
                        support. As the company has aproximatly 600 employees, you can be sure that there are multiple
                        IT problems each day.
                        During the shifts i was working on support (usually 1 or 2 halfdays a week),it was my duty to
                        respond to them as fast as possible and provide them a suitable solution.
                        Even so i first started to do this as a second person following a more experienced Supportler, i
                        learned fast and was thus soon able to cover my shifts alone.</p>
                </div>
                <div class="container_with_background">
                    <h2> Second Stage - Digital Supply Chain</h2>
                    <p> My second and also longest stage, was in the Digital Supply Chain (DSC). The goal of this Team
                        is to support the producton as well as the departments close to production. In addition to this
                        we are also kind of the link between those departments and the rest of the digitalisation
                        departments.
                    </p>
                    <h1> TODO SCRUM!</h1>
                    <p> In order to support our stakeholder, we maintain a lot of difference tools. In order to name a
                        selection of the most important tools, on which i worked in this Team</p>
                    <ul>
                        <li>Collection and visualisation of production data.</li>
                        <p>Each machine in production is connected to our Azure cloud, where we enrich the data and save
                            it.
                            In addition to making sure that this works smoothly, we are also responsible to add new
                            datapoints to this process and (most importnantly) give
                            our Stakeholders access to this data. This is done using Grafana as an access tool, as well
                            as a Azure Data Clusters doing being the engine.
                        </p>
                        <li></li>
                    </ul>
                    <p>
                        Even so i started there as a Trainee, after only a couple of montos (1-2) i worked in the Team
                        like a "normal" member of the Team.
                        In order to maintain the tools i worked in first, second and third level support, meaning i
                        looked into the problems until i found a solution.
                        This often included to debug the system and write new code to fix the bugs.
                        Beside that i contributed in the discussion as well as implementation of the new tools we
                        developed.
                        For this i mostly worked with the following tools:
                    <ul>
                        <li> Transactional SQL</li>
                        <p> The main part of our infrastructure is a Azure mangaded SQL Instance. Not only is this the
                            place where we saved most of the collected data (everything, but the data collected from the
                            machines for Grafana),
                            but it is also the place where most of the computations are handled.
                        </p>
                        <li> The Azure infrastructure</li>
                        <p> I administered, created and maintained different tools on Azure, such as:
                            <ul>
                                <li>AZure Data Factory</li>
                                <li>Azure managed SQL Server</li>
                                <li>Azure Logic Apps</li>
                                <li>Azure blob storage</li>
                                <li>Azure Stream Analytics</li>
                                <li>Powerapps</li>
                                <li>PowerBi</li>
                            </ul>
                            
                        </p>
                        <li>
                            Revpi/Rasperry Pi
                        </li>
                        <p> Some of our tools, run on Revpis. For those tools i improved the Python code running and
                            helped managing the devices in general. Like setting up
                            cronjobs. </p>
                        <li>
                            Powerapps/Powerautomate/PowerBI
                        </li>
                        <p> In order to collect Data and send that data to our Database, we often use Microsoft
                            Powerapps. I helped coding those apps, as well as $ </p>
                    </ul>
                    <h1>TODO:added quite a bit of content to the html pages GIT TEST Release Process</h1>
                    <p>Alongside daily operations, I actively encouraged the team to enhance its internal processes.
                        Specifically, I initiated and led the implementation of version control using Git, which had
                        been previously absent,
                        and I also established and integrated a testing system into our process. </p>
                    </p>
                </div>
                <div class="container_with_background">
                    <h2>Third stage - SAP </h2>
                    <p>In my third and last stage, i was in the SAP Team. Here i mostly worked on small projects improving processes for other teams. AS it was already decide that i would go back to 
                        the Digital Supply Chain team, i mostly focussed on processes close to production. 
                        I created different zReports as well as Remote able "Funktionsbausteine" which were then used by our Stakeholders.
                        The largest Project i work on by myself, was a scaleable code that processed input from our logistic artners and used this data to finish the SAP Process of the deliverys as well as sending an email to our costumers.
                        While creating this, i focused heavely on that the code is scaleable for other logistic partners as well as making sure, that the data is saved in sucha  wy that we can later publish the current state of our deliveries.

                    </p>
                </div>
            </div>
            <p> After completing my trainee program at SIGA, I returned to the DSC team, where I was able to fully
                contribute from day one.</p>
            <div class="container_with_background">
                <h2>Digital Supply Chain Developer</h2>
                <div class="row">August 2024 -> Present</div>
                <p> Overall the work is still simiklar to what i did during my second stage.
                    That beeing said, i focused more on communication with SAP and made sure to use my SAP Knowledge to
                    improve code that rely on SAP Tables.
                    Furthermore i continued the improvements on the processes. My most important contribution was to
                    define a Release Process using Pullrequests incorborating my prior work made to the test system.
                    After this all the process was in a accetaple place (According to the philosophy of the Toyota
                    Management System the process is never good, but always needs improving), so i focussed more on
                    other topics.
                    Currently i push forward to ensure that the team uses Clean Code, which goes hand in hand with my
                    personal focus to improve myself in this area.
                </p>
            </div>
        </div>
    </div>

    <div class="container_with_background">
        <h2>Teaching Assistant at ETH Zürich</h2>
        <div class="row">Spring 2020  -> Autumn 2021 </div>
        <p>While studying at <a href="https://ethz.ch/en.html" target="_blank">ETH Zürich</a>, i also took the oportunity to teach fellow students as a Teaching assistant.
         As a Teaching assistant it was my responsibility to hold the exercise classes of the corresponding course, in which i gave shor reviews of the last couple lectures,
         added examples to this content and supported the students if they had problems with their exercises.
         On the more formal side, i also helped correcting the weekly exercises.
         In the end of the year i helped correcting the exams.
         The courses for which i was a Teaching assistant were the following:</p>
         <ul>
            <li>Spring 2020 Measure and Integration</li> 
            <li>Autumn 2020 Mathematical Optimisation</li>
            <li>Spring 2021 Network and Integer Optimization: From Theory to Application</li>
            <li>Autumn 2021 Randomized Algorithms and Probabilistic Methods</li>
            <p> In this course i also helped creating the exercise sheets and grading the exam.</p>
         </ul>
         <p>Not only was it great to help other students to learn, but it also consolidated my own knowledge about those subjects.
        </p>
        </div>
        <div class="container_with_background">
            <h2>Link Institut</h2>
            <div class="row">2016 -> 2019</div>
            <p>The Link Institut, (now working under the name <a href="https://business.yougov.com/de/unternehmen/yougov-schweiz" target="_blank">YouGov</a>)
            makes phone surveys about different topics. During this time i needed to recruit willing people to answer the question, while also making sure to 
            collect the information in an unbiased manner. 
            
            </p>
        </div>
    </div>

   
</div>

</div>

</body>

{{end}}

{{define "title"}}
Portfolio Lukas Lötscher - education - work
{{end}}