{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <h1>My Work Experience</h1>

    <div class="work-container">
        <div class="container_with_background">
            <h2>SIGA</h2>
            <div class="row">September 2022 -> Present</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor euismod velit, id fermentum velit
                tincidunt non.</p>
        </div>

        <div class="container_with_background">
            <h2>Teaching Assistant at ETH Zürich</h2>
            <div class="row">September 2022 -> Present</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor euismod velit, id fermentum velit
                tincidunt non.</p>
        </div>

        <div class="container_with_background">
            <h2>Link Institut</h2>
            <div class="row">September 2022 -> Present</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor euismod velit, id fermentum velit
                tincidunt non.</p>
        </div>
    </div>

</div>

</body>

{{end}}

{{define "title"}}
Portfolio Lukas Lötscher - education - work
{{end}}
