{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <h1>My Work Experience</h1>

    <div class="work-container">
        <div class="container_with_background">
            <h2>SIGA</h2>
            <div class="row">September 2022 -> Present</div>
            <p>At SIGA i first started working as a Trainee. As a Trainee i contributed in 3 different Teams, where i
                stayed around 6 Months. In this time i was introduced,
                to how the Team works, what their responsibility is and naturally helped them to fulfill those
                requirements.
            </p>
            <p> After finishing my Traineestage, I decided to continued working in the Team DSC, where i currently work.
            </p>
            <p><a href="https://www.siga.swiss/ch_de" target="_blank">SIGA</a> is a medium sized international Company,
                that sells "building envelop sealing" I.e. the tape and membranes used to keep the heat (or cold) inside
                your house. Those sealings are produced in Swiss and thus we need to produce them as efficiently as
                possible, in order to stay relevant against other suppliers.

                In order to achieve that, SIGA adapted the <a
                    href="https://en.wikipedia.org/wiki/Toyota_Production_System" target="_blank">Toyota Production
                    System</a>Philosophy.
                In practice this means that each day everyone writes down ideas how we could improve the processes. And
                then (after working for 9 days normally) we have a day, where we make this ideas a reality. Even so this
                originated in a production environment, it is also followed in all other departments.
                I personally used this as a way to make the Process in the teams i was more reliable. Some of the most
                important things i pushed over this, was the introduction of a Test environment, GIT based version
                control as well as
                Pullrequest for Releases. Currently we work on the meaning of CleanCode in our Team, and how to enforce
                that.

            </p>

            <div class="container_with_background">
                <h2>SIGA Trainee in Digitalisierung und Softwareentwicklung</h2>
                <div class="row">September 2022 -> August 2024</div>

                <div class="container_with_background">
                    <h2> First Stage - IT-Infrastructure</h2>
                    <p> My Tasks in this job ranged from classic first (and sometimes second) level support, over
                        managing the network and server infrastructure, to
                        introducing new third party software.<br>
                        In practice this meant, that i spent roughly 1 to 2 half days working at the helpdesk, where i
                        had direct contact to our stakeholders (the coworkers from other departments) and replied to new
                        incoming problems.
                        The rest of the time i worked on other tasks to keep the server infrastructure running.<br>
                        On my own initiative i also created a python script for planning the helpdesk shifts, as well as
                        a script to analyze logins in order to find anomalies.
                    </p>
                    <p>
                        In this stage i was able to close some knowledge gaps about managing servers and networking.
                        This helped me to get a better understanding and
                        helped me fix problems i later Stages. I also spent time quite some time getting to know the
                        Azure Portal and the parts more linked to User Administration.
                    </p>
                </div>
                <div class="container_with_background">
                    <h2> Second Stage - Digital Supply Chain</h2>
                    <p> My second and also longest stage, was in the Digital Supply Chain (DSC). The goal of this Team
                        is to support the production teams as well as some teams closely related to the production (like Material Management, Quality Control, Maintenance). In addition to this
                        we are also the link between those departments and the rest of the digitalization departments, both in a technical as well as personal regard.
                    </p>
                    <p> The Team works in two week long Sprints following the Scrum setup, in order to be able to react to new requirements fast.
                        We also prioritize a close relationship to production very high, this means that every developer worked for two weeks in production, so that we know the Processes.
                        Furthermore when we release new functionality we make sure that we are also at the working location, so that we can react fast to problems, and the users can ask questions directly.
                    </p>
                    <p>
                        We maintain (and develop) a multitude of different applications, some of the most important, are listed below. I personally worked on each of them, introducing new 
                        functionality to them, as well as debugging and proposing technical improvements. 
                        <ul><li>
                            Collection and visualization of Production Data.
                            <p> We connect each machine to Azure in order to collect different datapoint. This data is not only used for some of our other application, but also made accessible to 
                                Maintenance (and similar departments) in order to give them a Datadriven ground for analysis.
                                In addition we commonly made small evaluations to tackle urgent problems.
                            </p>
                        </li>
                        <li>
                            Overall equipment Efficiency
                            <p>Using the data gather above we also calculate the quality and efficiency of the machine. I.e. we calculate Scrap , down time due to maintenance as well as errors and how much the Machines produced</p>
                        </li>
                        <li>
                            Reporting to SAP
                            <p>The calculations above are also sent to SAP to manage Stock as well as additional information of those products (such as production speed.)</p>
                        </li>
                        <li>
                            Traceability
                            <p> In order to know which part was produced out of what other part, we maintain a system of Powerapps to gather this data and make that data accessible for our Stakeholders.
                                While doing thi, we make sure that we impact the production as little as possible.
                            </p>
                        </li>
                        <li>
                            Pull System
                            <p> In order to enhance communication in the production, we provide a solution for sending simple signals form one machine to another.
                                <br> This solution was original based on a network of Raspberry pis, but we later moved that to a Powerapps solution,in order to increase stability. (And because the Devices approached end of live.)
                            </p>
                        </li>
                    </ul>
                    </p>
                    <p> 
                        In this team i learned SQL and did most of my work with it. But i also managed devices (mostly Linux based) and a multitude of AZURE components. (Azure data Factory, Azure Logic Apps, Azure data Cluster, PowerBi, Powerapps, Powerautomate,...)
                        Another important part was providing first, second and third level support in a timely manner.
                    </p>
                    <p> 
                        Also i worked on improving our process and coding environment. In particular i introduced GIT based Version control as well as a testing system. 
                        It was also important to me to make the data such, that it is possible to understand which entries in the database were based on which other entries.
                    </p>
                </div>
                <div class="container_with_background">
                    <h2>Third stage - SAP </h2>
                    <p> The SAP Team is working on customizing SAP for our company. This is mostly done by writing our own application or changing base functionality to better suite our needs.
                        Other then DSC, in this Team everyone works mostly on their own projects. But still we had ample opportunities to exchange knowledge and help each others if problems occurred.
                        I also should mention, that this stage was a bit shorted, since it was already clear, that i would go back to DSC in order to fill in a recent vacancy.
                    </p>
                    <p> 
                        Due to the high complexity of both SAP as well as our customizations, i started by mostly debugging existing code. This allowed me to learn more about how SAP works, (and the for me new language ABAP) while still providing
                        value for our stakeholders. 
                        In addition to this i wrote a lot of smaller (mostly standalone) reports, making SAP better accessible for our Stakeholders as well as adding notifications for different kind of errors.
                    </p>
                    <p>
                        The largest Project i work on by myself, was a scalable code that processed input from our
                        logistic partners and used this data to finish the SAP Process of the delivers as well as
                        sending an email to our costumers.
                        While creating this, i focused heavily on that the code is scalable for other logistic partners
                        as well as making sure, that the data is saved in such way that we can later publish the current
                        state of our deliveries.

                    </p>
                    <p> 
                        I also made sure that i understood all code called by the DSC Team, so i could better understand the connection, which still helps me debugging.
                        It also helped cleaning up the connection and i found some misconceptions in both directions which i could solve.
                    </p>
                    <p>
                        The largest Project i work on by myself, was a scalable code that processed input from our
                        logistic partners and used this data to finish the SAP Process of the delivers as well as
                        sending an email to our costumers.
                        While creating this, i focused heavily on that the code is scalable for other logistic partners
                        as well as making sure, that the data is saved in such way that we can later publish the current
                        state of our deliveries.
                    </p>
                    <p> Last but not least, i used this opportunity to bring learnings i made in the second stage into this team, and kept an eye out on what worked better in the SAP team, so i could take this back into DSC.</p>
                </div>
            </div>
            <p> After completing my trainee program at SIGA, I returned to the DSC team.</p>
            <div class="container_with_background">
                <h2>Digital Supply Chain Developer</h2>
                <div class="row">August 2024 -> Present</div>
                <p> Overall the work is mostly the same to what i did during my Trainee Time in this team, so i will not repeat the things written above.<br>
                    That being said, i focused more on communication with SAP and made sure to use my SAP Knowledge to
                    improve code that rely on SAP Tables. <br>
                    Furthermore i continued the improvements on the processes. My most important contribution was to
                    define a Release Process using Pullrequest incorporating my prior work made to the test system and Version Control.<br>
                    After this all the process was in a much better place (according to the philosophy of the Toyota
                    Management System the process is never good, but always needs improving), so i still think about how to further improve the process.<br>
                    Currently i push forward to ensure that the team uses Clean Code, which goes hand in hand with my
                    personal focus to improve myself in this area.
                </p>
            </div>
        </div>
    </div>

    <div class="container_with_background">
        <h2>Teaching Assistant at ETH Zürich</h2>
        <div class="row">Spring 2020 -> Autumn 2021 </div>
        <p>While studying at <a href="https://ethz.ch/en.html" target="_blank">ETH Zürich</a>, i also took the
            opportunity to teach fellow students as a Teaching assistant.
            As a Teaching assistant it was my responsibility to hold the exercise classes of the corresponding course,
            in which i gave short reviews of the last couple lectures,
            added examples to this content and supported the students if they had problems with their exercises.
            On the more formal side, i also helped correcting the weekly exercises.
            In the end of the year i helped correcting the exams.
            The courses for which i was a Teaching assistant were the following:</p>
        <ul>
            <li>Spring 2020 Measure and Integration</li>
            <li>Autumn 2020 Mathematical Optimisation</li>
            <p> In this course i spent quite a bit of time debugging code the students wrote, to not only tell them that there were mistake, but also what the mistake was.</p>
            <li>Spring 2021 Network and Integer Optimization: From Theory to Application</li>
            <li>Autumn 2021 Randomized Algorithms and Probabilistic Methods</li>
            <p> In this course i also helped creating the exercise sheets and grading the exam.</p>
        </ul>
        <p>Not only was it great to help other students to learn, but it also consolidated my own knowledge about those
            subjects.
        </p>
    </div>
    <div class="container_with_background">
        <h2>Link Institut</h2>
        <div class="row">2016 -> 2019</div>
        <p>The Link Institut, (now working under the name <a
                href="https://business.yougov.com/de/unternehmen/yougov-schweiz" target="_blank">YouGov</a>)
            makes phone surveys about different topics. During this time i needed to recruit willing people to answer
            the question, while also making sure to
            collect the information in an unbiased manner.

        </p>
    </div>
</div>


</div>

</div>

</body>

{{end}}

{{define "title"}}
Portfolio Lukas Lötscher - education - work
{{end}}