{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Lukas Loetscher</h1>

            <p>TODO write main site..</p>
           
        </div>

    </div>

</div>

<div>
    <img src="/static/images/Person_Image_Placeholder.png">
</div>
{{end}}


{{define "title"}}
    Portfolio Lukas Lötscher
{{end}}