{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Portfolio Lukas Lötscher</h1>
            <table>
                <tr>
                    <td>Name: </td>
                    <td>Lukas Lötscher</td>
                </tr>
                <tr>
                    <td>Birthdate: </td>
                    <td>16.01.1998</td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td>Grabenäckerstrasse 8b</td>
                </tr>
                <tr>
                    <td></td>
                    <td>5442 Fislisbach</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Switzerland</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><a href="mailto:lukas@loestcher.swiss"> lukas@loestcher.swiss </a> </td>
                </tr>
                <tr>
                    <td>Mobile Number: </td>
                    <td><a href="tel:+4176226316"> 076 226 31 96</a></td>
                </tr>
            </table>
        </div>

    </div>

</div>


{{end}}


{{define "title"}}
Portfolio Lukas Lötscher
{{end}}