{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="container_with_background">
            <h2>About this website</h2>

            <p>This website was created by me, Lukas Lötscher. <br>
                This webpage is written in go and deployed as a dockerimage to an ubuntu vm, hosted on <a href="https://www.digitalocean.com/"> Digital Ocean</a><br>
                The code can be found on <a href="https://github.com/Lukasloetscher/Go_my_website">github</a>.
            </p>
            <p>This website is not only here as a portfolio, but also as a bit of a training place for me with go.</p>

            <p> In this place i want to thank Jan, for providing me with the idea to make such a portfolio page, as well as show me his <a href="https://portfolio.visuation.ch/">page</a> which served as an inspiration.</p>

        </div>
</div>
{{end}}


{{define "title"}}
    Portfolio Lukas Lötscher - About
{{end}}