{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="container_with_background">
        <h2>About This Website</h2>

        <p>This website was created by me, Lukas Lötscher.<br>
            It is written in Go and deployed as a Docker image to an Ubuntu VM, hosted on <a href="https://www.digitalocean.com/">DigitalOcean</a>.<br>
            For HTTPS certification, I use <a href="https://letsencrypt.org/getting-started/">Let's Encrypt</a>.<br>
            The full source code, along with setup notes, can be found on <a href="https://github.com/Lukasloetscher/Go_my_website">GitHub</a>.
        </p>

        <p>This website serves both as a portfolio and a personal learning project to deepen my skills.</p>

        <p>I would like to thank Jan for inspiring me to create this portfolio page, and for sharing his own <a href="https://portfolio.visuation.ch/">portfolio site</a>, which served as a valuable reference.</p>
    </div>

    <div>
        <p><strong>Disclaimer:</strong> I used ChatGPT to help refine the spelling and structure of this page. The original content was written by me, then improved using ChatGPT. Afterwards, I reviewed and adjusted it again to ensure everything is accurate and to my liking.</p>
    </div>
</div>
{{end}}

{{define "title"}}
    Portfolio Lukas Lötscher - About
{{end}}
