{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="container_with_background">
                <h2> Hobbies</h2>
                <p>Beside my free time i love creating and experience stories.
                    I mostly enjoy this together with friends by playing <a
                        href="https://en.wikipedia.org/wiki/Tabletop_role-playing_game" target="_blank">pen and paper
                        RPG</a>, for which i both participate as a player, but also by
                    preparing adventures for our <a href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons"
                        target="_blank">D&D</a> group.
                    In a more outdoor approach i also regularly attend <a
                        href="https://en.wikipedia.org/wiki/Live_action_role-playing_game" target="_blank">Larps</a>.
                    In a more classic fashion i also read a lot of fantasy books or by playing computer games.

                </p>
                

            </div>
        </div>

    </div>

</div>
{{end}}


{{define "title"}}
Portfolio Lukas Lötscher - About
{{end}}