<!DOCTYPE html>
<html>
<head>
    <title>Lukas Page</title>
</head>


<body>

<h1>My Basic page</h1>
<p> This is just a basic idea of a page., i will create actual content at a later point,</p>

</body>
</html>