{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>My Academic Education</h1>

            <table>
                <tr>
                    <td valign="top" style="white-space:nowrap;">
                        2004 - 2009
                    </td>
                   
                    <td valign="top">
                        5 years at Primary School in Fislisbach
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        2009 - 2013
                    </td>
                    <td valign="top">
                        4 years at Bezirkschule Mellingen

                    </td>
                </tr>
                <tr>
                    <td valign="top" white-space: nowrap;>
                        2013 - 2017
                    </td>
                    <td valign="top">
                        4 years at Kantonsschule Baden with Matura
                    </td>
                    <td valign="top"> Specialization in Physics and Applied Mathematics (SPAM) <br>
                        "Matura Arbeit" was done on a "<a href="education/Matura_Arbeit">Verkehrsimulation</a>" of the
                        (at the time) recent rebuild of the main intersection in Baden. </td>

                </tr>
                <tr>
                    <td valign="top">
                        2017 - 2021
                    </td>
                    <td valign="top">
                        Bachelor of Mathematics at ETH Zurich
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        2020 - 2022
                    </td>
                    <td valign="top">
                        Master of Mathematics at ETH Zurich
                    </td>
                </tr>
            </table>

        </div>

    </div>

</div>
{{end}}

{{define "title"}}
Portfolio Lukas Lötscher - education
{{end}}
