{{template "base_extended" .}}

{{define "content"}}
<div class="container">
    <h1>My Academic Education</h1>
    <div class="container_with_background">
        <h2>Master of Mathematics at ETH Zurich</h2>
        <div class="row">2020 - 2022</div>
        <p>
            I did my Master in Mathematics at ETH and graduated with a Overall Grade Point Average of 5.4 <br>
            For my Master Thesis i worked on how one can decompose a random graph into paths.
            I attended the follwoing courses in my Master:
        <ul>
            <li>Algebraic Geometry I</li>
            <li>Graph Theory</li>
            <li>Algebraic Methods in Combinatorics</li>
            <li>Geometry: Combinatorics and Algorithms</li>
            <li>Network & Integer Optimization: From Theory to Application</li>
            <li>Neural Network Theory</li>
            <li>Randomized Algorithms and Probabilistic Methods</li>
            <li>Geometry: Combinatorics and Algorithms</li>
            <li>Seminar on Randomized Algorithms and Probabilistic Methods</li>
            <li>Semesterarbeit</li>
            <li>Principles of Microeconomics</li>
            <li>Master’s Thesis</li>
            <li>Advanced Graph Algorithms and Optimization</li>
            <li>Didactic Basics for Student Teaching Assistants</li>
            <li>Information Theory I</li>
        </ul>

        </p>
    </div>
    <div class="container_with_background">
        <h2>Bachelor of Mathematics at ETH Zurich</h2>
        <div class="row"> 2017 - 2021</div>
        <p>
            My Bachelor was also done at ETH and consists of the following courses:
        <ul>
            <li>Lineare Algebra I</li>
            <li>Physik I</li>
            <li>Informatik</li>
            <li>Analysis I / Analysis II</li>
            <li>Lineare Algebra II</li>
            <li>Numerische Mathematik I</li>
            <li>Physik II</li>
            <li>Funktionentheorie</li>
            <li>Methoden der mathematischen Physik I</li>
            <li>Allgemeine Mechanik</li>
            <li>Algorithmen und Komplexität</li>
            <li>Mass und Integral</li>
            <li>Algebra I</li>
            <li>Algebra II</li>
            <li>Topology</li>
            <li>Numerical Analysis II</li>
            <li>Probability and Statistics</li>
            <li>Algebraic Topology I</li>
            <li>Mathematical Optimization</li>
            <li>Theoretische Informatik</li>
            <li>Communication in Mathematics</li>
            <li>Introduction to Machine Learning</li>
            <li>Kombinatorik I</li>
            <li>Probabilistic Methods in Combinatorics</li>
            <li>Geometrie</li>
            <li>Advanced Topics in Discrete Optimization</li>
            <li>Introduction to Game Theory</li>
            <li>Network Analysis</li>
            <li>Bachelor-Arbeit</li>
            <li>Scientific Works in Mathematics</li>
            <li>Algorithmen und Datenstrukturen</li>
        </ul>
        My Bachelor Thesis was on the subject of Maker-Breaker games. (This is an analysis of hypergraphs and studies
        which classes of graphs have a winning strategy according to a set of rules.)
        </p>
    </div>
    <div class="container_with_background">
        <h2>Kantonsschule Baden (Matura)</h2>
        <div class="row"> 2013 - 2017</div>
        <p>
            During my Matura i focused on natural science, with a deeper focus on Mathematics and
            Informatics.<br>
            As my final project i worked on a traffic simulation, together with Jan Apple, which we coded in Java.
            The goal of this work was to analyze traffic jams and find out how much of an improvement the new crossing
            would be.
            Due to the high quality of our work, we got invited to <a href="https://sjf.ch/" target="_blank"> Schweizer
                Jugend Forscht </a>, were we were able to present our work again.
            there is also a news article about our project which can be found <a
                href="https://www.aargauerzeitung.ch/aargau/baden/zwei-kantischuler-habens-getestet-bald-kommen-autofahrer-schneller-uber-den-schulhausplatz-ld.1600070"
                target="_blank"> here</a>.
        </p>
    </div>
    <div class="container_with_background">
        <h2>Mandatory Education </h2>
        <div class="row"> 2004 - 2013</div>
        <p>
           I visited the Bezirkschule in Mellingen for four years and the Grundschule in Fislisbach for 5 years.
           (Note that this was before the system was changed.)
    </div>




</div>
{{end}}

{{define "title"}}
Portfolio Lukas Lötscher - education
{{end}}